@import "tailwindcss";

@font-face {
  font-family: "bold";
  src: url("font/UberMove-Bold.woff2");
}

@font-face {
  font-family: "regular1";
  src: url("font/UberMove-Regular.woff2");
}

@font-face {
  font-family: "medium";
  src: url("font/UberMoveText-Medium.woff2");
}

@font-face {
  font-family: "regular2";
  src: url("font/UberMoveText-Regular.woff2");
}

@layer theme {
  :root {
    --lightGray: #f3f3f3;
    --mediumLightGray: #e8e8e8;
  }
}

@layer utilities {
    .absolute-horizontal-center{
        @apply absolute left-[50%] translate-x-[-50%]
    }

    .flex-space-between{
        @apply flex justify-between
    }
}

@layer components {
  .glasscard {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media(max-width: 1350px){

    #hero-section{
        flex-direction: column;
    }

    #hero-section #left{
        width: 100%;
    }

    #hero-section #right{
        width: 100%;
        padding-right: 0px;
        margin-top: 2rem;
    }

    #hero-section #right > div{
        height: 100%;
        margin-top: 0px;
    }

    #hero-section .glasscard{
        top: 2rem;
    }
}
